.concernSwiper {
  .swiper-pagination-bullet-active {
    background: black;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #ccc;
    opacity: 1;
    margin: 0 6px;
  }
}
.custom-pagination {
  justify-content: start;

  .swiper-pagination-bullet-active {
    background: #000; /* Active dot color */
  }
}

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #ccc;
  opacity: 1;
  margin: 0 6px;
  border-radius: 50%;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #000;
}
